#title{ 

    margin-left: 20%; 
    
    } 
    
     
    
    #test{ 
    
    float: right; 
    
    } 
    
     
    
    #socials{ 
    
    margin-left: 25%; 
    
    } 
    
     